@font-face{font-family:Poppins;font-style:italic;font-weight:500;font-display:block;src:url(Poppins-500-italic.woff2)}
@font-face{font-family:Poppins;font-style:italic;font-weight:700;font-display:block;src:url(Poppins-700-italic.woff2)}
@font-face{font-family:Poppins;font-style:normal;font-weight:400;font-display:block;src:url(Poppins-400.woff2)}
@font-face{font-family:Poppins;font-style:normal;font-weight:500;font-display:block;src:url(Poppins-500.woff2)}
@font-face{font-family:Poppins;font-style:normal;font-weight:600;font-display:block;src:url(Poppins-600.woff2)}
@font-face{font-family:Poppins;font-style:normal;font-weight:700;font-display:block;src:url(Poppins-700.woff2)}
@font-face{font-family:Poppins;font-style:normal;font-weight:800;font-display:block;src:url(Poppins-800.woff2)}
